@tailwind base;
@tailwind utilities;
@tailwind components;

body {
    @apply font-poppins bg-pry-clr-0;
}

#root {
    @apply mt-14 mb-10;
}

.trans-all-linear {
    @apply transition-all duration-200 ease-linear;
}

main {
    @apply grid place-items-center w-full;
}

.info {
    @apply text-center text-pry-clr-1 text-3xl font-semibold;
}

header {
    @apply mb-16 flex flex-col items-center gap-3;
}

header div {
    @apply bg-pry-clr-2 h-1.5 w-28 rounded-md;
}

.menu {
    @apply grid grid-cols-1 w-[95vw] max-w-[1200px] justify-start trans-all-linear px-5 gap-12;
}

.btn-container {
    @apply flex gap-5 w-full justify-center;
}

.btn {
    @apply text-2xl trans-all-linear tracking-wide;
}

.btn:hover,
.btn.active {
    @apply border-b-2 border-b-pry-clr-2 text-pry-clr-2;
}

.titles {
    @apply flex flex-col gap-3 mb-5;
}

.titles h3 {
    @apply tracking-wider text-xl
}

.titles h5 {
    @apply text-sm bg-pry-clr-5 text-pry-clr-6 px-2 py-0.5 w-fit font-semibold rounded-md tracking-wider;
}

.titles p {
    @apply text-sm text-pry-clr-6 tracking-widest font-light;
}

.duties {
    @apply flex flex-col gap-5;
}

.duty {
    @apply flex justify-between gap-10 items-center;
}

.icon {
    @apply text-pry-clr-2 font-medium text-xl;
}

.duty p {
    @apply text-xs text-pry-clr-7 leading-relaxed;
}

.btn-info-container {
    @apply w-full flex justify-center;
}

.btn-info-container button {
    @apply px-9 py-1 uppercase text-white bg-pry-clr-2 rounded-md trans-all-linear mt-14;
}

.btn-info-container button:hover {
    @apply text-pry-clr-4 bg-pry-clr-3;
}


@media screen and (min-width: 900px) {
    .info {
        @apply text-5xl;
    }

    .menu {
        grid-template-columns: 200px 1fr;
    }

    .btn-container {
        @apply flex-col gap-3 justify-start;
    }

    .btn.active {
        border-bottom: 0;
        @apply border-b-2 border-b-pry-clr-2;
    }

    .btn:hover {
        border-bottom: 0;
        @apply border-l-2 border-l-pry-clr-2;
    }

    .titles h3 {
        @apply text-3xl
    }

    .titles h5 {
        @apply text-[1rem];
    }

    .titles p {
        @apply text-[1rem];
    }

    .duty p {
        @apply text-sm;
    }
}